* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.booktrain-image-upper {
  width: 100%;
  height: 230vh;
  position: relative;
  overflow: hidden;
}
.booktrain-image-upper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: url("../Main_flights/flights/airplane-back.jpg") no-repeat center
    center;
  background-size: 100% 100%;
  z-index: 0;
  opacity: 0.9;
  width: 100%;
  height: 100%;
}
.booktrain-image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  width: 100%;
  height: 100%;
}
.booktrain-main {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 1;
  display: flex;
  flex-direction: column;
}
.booktrain-nav {
  width: 100%;
  height: 12vh;
  overflow: hidden;
}
.booktrain-main-content {
  width: 100%;
  height: 206vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  padding-top: 20px;
}
.booktrain-fare-summary {
  width: 28%;
  height: 55vh;
  background-color: rgba(194, 190, 190, 0.854);
  border-radius: 13px;
}
.booktrain-details {
  width: 68%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.train-travel-details {
  width: 100%;
  height: 17%;
  background-color: rgba(194, 190, 190, 0.854);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px 0px 0px 10px;
  gap: 3px;
}
.booktrain-train-detail {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  gap: 15px;
}
.booktrain-train-logo {
  font-size: 50px;
  height: 100%;
  width: 6%;
}
.booktrain-train-content {
  height: 100%;
  width: 90%;
  display: flex;
  align-items: center;
  gap: 8px;
}
.booktrain-train-name {
  font-weight: bold;
  height: 100%;
  font-size: 40px;
}
.booktrain-train-number {
  height: 100%;
  font-size: 30px;
  padding-top: 6px;
}
.booktrain-travel-detail {
  height: 69%;
  width: 100%;
  display: flex;
  align-items: center;
}
.booktrain-travel-places {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
}
.booktrain-travel-special{
  width:35%; 
}
.booktrain-travel-special1{
  padding-left:15px; 
}
.booktrain-date {
  width: 100%;
  height: 20%;
  color: rgb(75, 72, 72);
  padding-top: 10px;
  font-size: 17px;
}
.booktrain-place{
  height:25%; 
  width:100%; 
  font-weight:bold; 
  font-size:40px; 
}
.booktrain-place1{
  width:90%;
  height:24%; 
  color:rgb(75,72,72); 
  font-size:18px; 
  padding-top:13px; 
  padding-left:4px; 
}
.booktrain-time{
  width:50%; 
  height:24%; 
  font-size:20px; 
  color:rgb(53, 52, 52); 
  padding-top:4px; 
  padding-left:4px; 
  font-weight:bold; 
}
.booktrain-travel-duration{
  height:15%;
  width:20%; 
  color:rgb(75,72,72); 
  font-size:20px; 
}
.train-passenger-details {
  width: 100%;
  height: 41%;
  background-color: rgba(194, 190, 190, 0.854);
  border-radius: 4px;
}
.train-booking-details {
  width: 100%;
  height: 41%;
  background-color: rgba(194, 190, 190, 0.854);
  border-radius: 4px;
}
.booktrain-submit {
  width: 100%;
  height: 6.39%;
  background-color: rgba(194, 190, 190, 0.854);
}
.booktrain-footer {
  width: 100%;
  height: 12vh;
  background-color: black;
  display: flex;
  align-items: Center;
}
