.upper {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden; /* Ensure child elements do not overflow */
}

.upper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../../../Images/Flights/Flight1.jpg") no-repeat center center;
  background-size: 100% 100%;
  opacity: 0.9; /* Adjust the opacity of the background image */
  z-index: 0; /* Ensure it's behind other content */
}

.upper > .absolute {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
  z-index: 1; /* Ensure it's above the background image */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.Main {
  position: relative;
  z-index: 2;
  opacity: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.Nav {
  height: 12%; /* Adjust height as needed */
  width: 100%;
  z-index: 3;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.Heading {
  margin-top: 45px !important;
  margin-left: 30px !important;
}
.Heading > p {
  font-size: 80px;
  font-weight: bold;
  line-height: 110px;
}
.form {
  height: 30%;
  margin-top: 55px !important;
  margin-left: 30px !important;
}
.form2 {
  display: flex;
  flex-direction: row !important;
  /* gap:10px;  */
  width: 57%;
}
form > input {
  margin: 0px 10px 10px 0px !important;
  color: white;
  height: 46px;
  background-color: rgb(102 101 101 / 40%);
  border: none;
  width: 220px;
  font-size: 19px;
  padding: 13px;
}
form > input:focus {
  background-color: black;
}
form > input:hover {
  background-color: black;
  cursor: pointer;
}
form > button {
  height: 46px;
  width: 120px;
  background-color: rgb(102 101 101 / 40%);
  color: grey;
  font-size: 19px;
  border: none;
  margin: 0px 10px 10px 0px;
  transition: 0.3s;
}
form > button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.3s;
}
.submit-span {
  transition: 0.3s;
  position: relative;
}
.submit-span::after {
  content: "\00bb";
  position: absolute;
  top: 0px;
  right: -15px;
  opacity: 0;
}
form > button:hover .submit-span {
  padding-right: 15px;
}
form > button:hover .submit-span::after {
  opacity: 1;
  right: 0px;
}
.blur-background {
  filter: blur(5px);
  opacity: 0.6;
}
