* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bdetails-main {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
}
.cdetails {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-bottom: 1px groove black;
}
.cdetails-heading {
  margin-top: 20px;
  width: 97%;
  height: 32%;
}
.cdetails-heading1 {
  font-weight: bold;
  font-size: 30px;
}
.cdetails-heading2 {
  color: rgb(92, 92, 92);
  font-size: 18px;
  margin-top: 4px;
}
.cdetails-form {
  margin-left: 30px;
  width: 95%;
  height: 72%;
  display: flex;
  margin-top: 10px;
  gap: 20px;
}
.cdetails-subform {
  display: flex;
  gap:10px; 
  padding-left:15px;  
  height: 75%;
  width: 100%; 
}
.code-main {
  width: 27%;
  height: 100%;
  border: 1px solid rgb(69, 69, 69);
  border-radius: 8px;
  display: flex;
  align-items: Center;
  justify-content: center;
}
.label-code {
  font-size: 20px;
  margin-right: 12px;
  color: rgb(69, 69, 69);
}
.input-code {
  width: 90px;
  height: 25px;
  border: 1px solid black;
  border-radius: 5px;
  padding-left: 5px;
}
.input-code:focus {
  background-color: black;
  color: white;
}
.contact-main {
  width: 27%;
  height: 100%;
  border: 1px solid rgb(69, 69, 69);
  border-radius: 8px;
  display: flex;
  align-items: Center;
  justify-content: center;
}
.label-contact {
  font-size: 20px;
  margin-right: 12px;
  color: rgb(69, 69, 69);
}
.input-contact {
  width: 140px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid black;
  padding-left: 5px;
}
.input-contact:focus {
  background-color: black;
  color: white;
}
.email-main {
  width: 27%;
  height: 100%;
  border: 1px solid rgb(69, 69, 69);
  border-radius: 8px;
  display: flex;
  align-items: Center;
  justify-content: center;
}
.label-email {
  font-size: 20px;
  margin-right: 12px;
  color: rgb(69, 69, 69);
}
.input-email {
  width: 140px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid black;
  padding-left: 5px;
}
.input-email:focus {
  background-color: black;
  color: white;
}
.bdetails {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
}
.bdetails-heading {
  width: 97%;
  height: 36%;
}
.bdetails-heading1 {
  margin-top: 10px;
  font-weight: bold;
  font-size: 30px;
}
.bdetails-heading2 {
  color: rgb(92, 92, 92);
  font-size: 18px;
  margin-top: 4px;
}
.bdetails-address {
  width: 100%;
  height: 64%;
  display: flex;
}
.address-div1 {
  height: 99%;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: Center;
  gap: 30px;
  /* border:1px solid black; */
}
.address-div2 {
  height: 99%;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  /* border:1px solid black;  */
}
.pincode-main {
  width: 65%;
  height: 33%;
  border: 1px solid rgb(69, 69, 69);
  border-radius: 8px;
  display: flex;
  align-items: Center;
  justify-content: center;
}
.label-pin {
  font-size: 25px;
  margin-right: 8px;
  color: rgb(69, 69, 69);
}
.input-pincode {
  width: 170px;
  height: 32px;
  border-radius: 5px;
  border: 1px solid black;
  padding-left: 5px;
}
.input-pincode:focus {
  background-color: black;
  color: white;
}
.city-main {
  width: 65%;
  height: 33%;
  border: 1px solid rgb(69, 69, 69);
  border-radius: 8px;
  display: flex;
  align-items: Center;
  justify-content: space-evenly;
}
.label-city {
  font-size: 25px;
  margin-right: 8px;
  color: rgb(69, 69, 69);
}
.input-city {
  width: 170px;
  height: 32px;
  border-radius: 5px;
  border: 1px solid black;
  padding-left: 5px;
}
.input-city:focus {
  background-color: black;
  color: white;
}

.address-main {
  width: 65%;
  height: 33%;
  border: 1px solid rgb(69, 69, 69);
  border-radius: 8px;
  display: flex;
  align-items: Center;
  justify-content: center;
}
.label-address {
  font-size: 25px;
  margin-right: 8px;
  color: rgb(69, 69, 69);
}
.input-address {
  width: 170px;
  height: 32px;
  border-radius: 5px;
  border: 1px solid black;
  padding-left: 5px;
}
.input-address:focus {
  background-color: black;
  color: white;
}
.state-main {
  width: 65%;
  height: 33%;
  border: 1px solid rgb(69, 69, 69);
  border-radius: 8px;
  display: flex;
  align-items: Center;
  justify-content: space-evenly;
}
.label-state {
  font-size: 25px;
  margin-right: 8px;
  color: rgb(69, 69, 69);
}
.input-state {
  width: 170px;
  height: 32px;
  border-radius: 5px;
  border: 1px solid black;
  padding-left: 5px;
}
.input-state:focus {
  background-color: black;
  color: white;
}
.booking-submit {
  width: 95%;
  height: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: Center;
}
.booking-submit-button {
  width: 120px;
  height: 50px;
  border-radius: 20px;
  font-size: 18px;
  background-color: black;
  color: white;
}
.booking-submit-button:hover {
  transform: scale(1.02);
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.318);
  cursor:pointer; 
}
