* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bookflight-image-upper {
  width: 100%;
  height: 230vh;
  position: relative;
  overflow: hidden;
}
.bookflight-image-upper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: url("airplane-back.jpg") no-repeat center center;
  background-size: 100% 100%;
  z-index: 0;
  opacity: 0.9;
  width: 100%;
  height: 100%;
}
.bookflight-image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  width: 100%;
  height: 100%;
}
.bookflight-main {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 1;
  display: flex;
  flex-direction: column;
}
.bookflight-nav {
  width: 100%;
  height: 12vh;
  overflow: hidden;
}
.bookflight-main-content {
  width: 100%;
  height: 206vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  padding-top: 20px;
}
.bookflight-fare-summary {
  width: 28%;
  height: 55vh;
  background-color: rgb(194, 190, 190);
  border-radius: 13px;
}
.bookflight-details {
  width: 68%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.flight-travel-details-main {
  width: 100%;
  height: 17%;
  background-color: rgba(194, 190, 190, 0.854);
  border-radius: 4px;
  display: flex;
}
.flight-travel-details {
  height: 100%;
  width: 55%;
  /* border-right:1px solid black;  */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px 0px 0px 10px;
  gap: 3px;
}
.bookflight-airline-detail {
  width: 65%;
  height: 23%;
  display: flex;
  align-items: center;
  gap: 8px;
}
.bookflight-airline-logo {
  height: 100%;
  width: 15%;
}
.bookflight-airline-content {
  width: 70%;
  font-size: 19px;
}
.bookflight-airline-content > span {
  color: rgb(75, 72, 72);
  font-size: 15px;
}
.bookflight-travel-detail {
  height: 75%;
  width: 85%;
  display: flex;
  align-items: center;
}
.bookflight-travel-places {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
}
.bookflight-date {
  width: 50%;
  height: 20%;
  color: rgb(75, 72, 72);
  padding-top: 10px;
  font-size: 15px;
}
.bookflight-time {
  height: 25%;
  width: 100%;
  font-weight: bold;
  font-size: 35px;
}
.bookflight-place {
  width: 87%;
  height: 13%;
  font-size: 18px;
  padding-top: 5px;
}
.bookflight-place1 {
  width: 90%;
  height: 24%;
  color: rgb(75, 72, 72);
  font-size: 13px;
  padding-top: 8px;
}
.bookflight-terminal {
  width: 100%;
  height: 20%;
  color: rgb(75, 72, 72);
  font-size: 15px;
  padding-top: 10px;
}
.bookflight-travel-duration {
  height: 15%;
  width: 25%;
  color: rgb(75, 72, 72);
  font-size: 20px;
}
.bookflight-place-special {
  width: 40%;
}
.flight-details-baggage-main {
  width: 45%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flight-details-baggage {
  width: 90%;
  height: 30%;
  display: flex;
}
.baggage {
  height: 100%;
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.baggage-bold {
  font-weight: bold;
  font-size: 23px;
}
.baggage-normal {
  font-size: 15px;
}
.flight-passenger-details {
  width: 100%;
  height: 41%;
  background-color: rgba(194, 190, 190, 0.854);
  border-radius: 4px;
}
.flight-booking-details {
  width: 100%;
  height: 41%;
  background-color: rgba(194, 190, 190, 0.854);
  border-radius: 4px;
}
.bookflight-submit {
  width: 100%;
  height: 6.39%;
  background-color: rgba(194, 190, 190, 0.854);
}
.bookflight-footer {
  width: 100%;
  height: 12vh;
  background-color: black;
  display: flex;
  align-items: Center;
}
