form{
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.email-div {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 67px;
  /* margin-left: 13px; */
  /* padding-left: 10px; */
  /* background-color: yellow; */
}
.up-password-div {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  gap:21px; 
  /* margin-left:13px;  */
  /* padding-left:10px;  */
  /* background-color: yellow; */
}
.input-label {
  padding: 7px;
  font-size: 25px;
}
.up-input-content {
  background-color: rgba(234, 234, 234, 0.79);
  padding-left: 4px;
  height: 40px;
  border-radius: 10px;
  width: 172px;
}
.input-content-email {
  background-color: rgba(234, 234, 234, 0.79);
  padding-left: 4px;
  height: 40px;
  width: 172px;
  border-radius: 10px;
}
.up-input-content:focus {
  background-color: black;
  color: white;
  padding-left: 4px;
}
.input-content-email:focus {
  background-color: black;
  color: white;
  padding-left: 4px;
}
