.bus-image-upper {
  width: 100%;
  height: 204vh;
  position: relative;
  overflow: hidden;
}
.bus-image-upper::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: url("../../../Images/Buses/bus1.jpg") no-repeat center center;
  background-size: 100% 100%;
  z-index: 0;
  opacity: 0.9;
}
.bus-image-upper > .bus-image-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
}
.bus-mains {
  width: 100%;
  height: 100%;
  z-index: 2;
  position: relative;
  opacity: 1;
  display: flex;
  flex-direction: column;
}
.bus-nav {
  width: 100%;
  height: 5.769%;
  overflow: hidden;
  padding: 0.05px;
}
.bus-main {
  width: 100%;
  height: 88.235%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.bus-summary-box {
  width: 100%;
  height: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bus-summary {
  width: 75%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bus-input {
  height: 100%;
  width: 25%;
  font-size: 18px;
  padding-left: 4px;
  border: none;
  border-right: 1px solid black;
}
#bus-src {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.bus-input:focus {
  outline: none;
}
.bus-input-date {
  width: 20%;
  height: 100%;
  padding-left: 4px;
  font-size: 18px;
  border: none;
}
.bus-input-date:hover {
  cursor: pointer;
}
.bus-input-submit {
  width: 100%;
  height: 100%;
  padding-left: 4px;
  font-size: 18px;
  color: white;
  background-image: linear-gradient(to right, black, grey);
  text-align: center;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.bus-input-submit:hover {
  cursor: pointer;
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.164);
}
.bus-submit-box {
  width: 18%;
  height: 100%;
  background-color: white;
}
.bus-main-content {
  width: 95%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  gap:40px; 
}
.bus-filter-main {
  margin-top: 10px;
  margin-left: 10px;
  width: 30%;
  height: 60%;
}
.bus-data-main-outer {
  width: 68%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  /* background-color: yellow; */
}
.bus-data-main-heading {
  width: 95%;
  height: 4%;
  background-color: rgba(102, 102, 102, 0.548);
  display: flex;
  align-items: center;
  border-radius: 20px;
  color: rgb(223, 223, 223);
}
.bus-data-main-content {
  width: 95%;
  height: 96%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: rgb(223, 223, 223);
}
.bus-name {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 18px;
  /* background-color:red;  */
  padding-left: 25px;
}
.bus-departure {
  height: 100%;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  /* background-color:yellow; */
}
.bus-arrival {
  height: 100%;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  /* background-color:blanchedalmond;  */
}
.bus-duration {
  height: 100%;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  /* background-color:aqua;  */
}
.bus-price {
  width: 13%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  /* background-color:brown;  */
}
.bus-footer {
  margin-top: 10px;
  width: 100%;
  height: 5.769%;
  background-color: black;
  display: flex;
  align-items: center;
}
